<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255328749838-pj3ouqhlhd1i01oukouu126eoveop3d1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255328749838-pj3ouqhlhd1i01oukouu126eoveop3d1</string>
	<key>API_KEY</key>
	<string>AIzaSyA2BpCPWXKSN8vHn6vYdJYrb5hkcN4I5fI</string>
	<key>GCM_SENDER_ID</key>
	<string>255328749838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goflipr.flipr</string>
	<key>PROJECT_ID</key>
	<string>flipr-c2bc3</string>
	<key>STORAGE_BUCKET</key>
	<string>flipr-c2bc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255328749838:ios:d06daa99c035fa369eef5f</string>
</dict>
</plist>